* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D8DFE8;
}

header {
    /*background: green;*/
    width: 100%;
    height: 50px;
}

#logo {
    margin-top: 10px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
    margin-top: 10%;
}

section {
    width: 40%;
    height: 80%;
}

.section1 {
    width: 60%;
    margin-top: 1rem;
}

.textarea1 {
    width: 50%;
    height: 60%;
    margin-top: 20px;
    padding-top: 20px;
    display: block;
    margin: auto;
    border-radius: 10px;
    resize: none;
    border: none;
    outline: none;
}

.rule {
    font-size: 12px;
}

.container-button {
    text-align: center;
    margin-top: 20px;
}

.container-button, p {
    margin-bottom: 20px;
}

.btn-1, .btn-2 {
    width: 25%;
    height: 40px;
}

.btn-1 {
    border-radius: 24px;
    background: #0A3871;
    color: #D8DFE8;
}

.btn-2 {
    border-radius: 24px;
    background: #D8DFE8;
}

.section2 {
    width: 50%;
    height: 50%;
    margin-top: 1rem;
    margin-right: 10%;
    border-radius: 10px;
    overflow: hidden;
}

.textarea2 {
    width: 50%;
    height: 60%;
    padding-top: 20px;
    display: block;
    margin: auto;
    border-radius: 10px;
    resize: none;
    border: none;
    outline: none;
}


.container-btn3 {
    text-align: center;
    margin-top: 3.5em;
    height: 6em;
}

.btn-3 {
    width: 25%;
    height: 40%;
    border-radius: 24px;
    background: #D8DFE8;
}

footer {
    background-color: #0A3871;
    color: #D8DFE8;
    text-align: center;
    margin-top: 10%;
    width: 100%;
    height: 2em;
    padding-top: 1%;
}

footer, a {
    color: #D8DFE8;
    cursor: pointer;
}

.ocultar {
    display: none;
}
