* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #D8DFE8;
}

header {
    /*background: green;*/
    width: 100%;
    height: 50px;
}

#logo {
    margin-top: 10px;
}

.title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 90%;
    margin-top: 10%;
}

section {
    width: 40%;
    height: 100%;
    /*background-color: red;*/
}

.section1 {
    width: 60%;
    margin-top: 1rem;
}

.textarea1 {
    width: 50%;
    height: 60%;
    margin-top: 20px;
    padding-top: 20px;
    display: block;
    margin: auto;
    border-radius: 10px;
    resize: none;
    border: none;
    outline: none;
}

.rule {
    font-size: 12px;
}

.container-button {
    text-align: center;
    margin-top: 20px;
}

.container-button, p {
    margin-bottom: 20px;
}

.btn-1, .btn-2 {
    width: 25%;
    height: 40px;
}

.btn-1 {
    border-radius: 24px;
    background: #0A3871;
    color: #D8DFE8;
}

.btn-2 {
    border-radius: 24px;
    background: #D8DFE8;
}

.section2 {
    width: 20%;
    height: 490px;
    margin-top: 1rem;
    margin-right: 10%;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    overflow: hidden;
}

.container-img {
    width: 100%;
    height: 75%;
    margin-right: 10%;
    padding-top: 20%;
    box-sizing: border-box;
    overflow: hidden;
    justify-content: center;
}

.container-h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    height: 10%;
    margin-top: 10%;
    text-align: center;
}

.container-p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    width: 100%;
    height: 20%;
    margin-bottom: 10%;
    text-align: center;
}

.container-resultado {
    width: 100%;
    height: 70%;
    padding: 20px;
    box-sizing: border-box;
}

.container-resultado, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container-btn3 {
    width: 100%;
    height: 20%;
    text-align: center;
    position: relative;
    margin-top: 30%;
}

.btn-3 {
    width: 25%;
    height: 40%;
    border-radius: 24px;
    background: #D8DFE8;
}
footer {
    text-align: center;
    margin-top: 10%;
    width: 100%;
    height: 50px;
    /*background-color: yellow;*/
}

.ocultar {
    display: none;
}
